@model SportsSimulatorWebApp.Models.Team

@{
    ViewBag.Title = "Details";
}

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayName("Player List")
        </th>

        <th></th>
    </tr>

    <tr>
        <td></td>
        <td>
            @Html.DisplayFor(model => model.TeamName)
        </td>
        <td>
            @{ var modelList = Model.TeamMembers;}
            <div class="row">
                @foreach(var item in modelList)
                {
                    <div class="col-md-1">@item.Player.FirstName</div>
                }
            </div>
              
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<p><a class="btn btn-default" href="@Url.Action("AddTeamMembers","TeamMembers", new { id = Model.id })">Add Members to Team &raquo;</a></p>

