@model SportsSimulatorWebApp.Models.Team

@{
    ViewBag.Title = "Details";
}

<h2>@Model.TeamName</h2>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Player List")
            </th>
            <th>
                @Html.DisplayName("Player Position")
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @{ var modelList = Model.TeamMembers;}
            @foreach(var player in modelList)
            {
                <tr>
                    <td>@player.Player.FirstName @player.Player.LastName</td>
                    <td>@player.Player.Position</td>
                </tr>
            }
        </tr>
    </tbody>
</table>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<p><a class="btn btn-primary" href="@Url.Action("AddTeamMembers","TeamMembers", new { id = Model.id })">Add Members to Team &raquo;</a></p>
<p><a class="btn btn-primary" href="@Url.Action("BidOnAvailablePlayers","Bidding", new { id = Model.id })">Bid on Available Players &raquo;</a></p>

