@model SportsSimulatorWebApp.Models.Team

@{
    ViewBag.Title = "Details";
}

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayName("Player List")
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.TeamName)
            </td>
            @{ var modelList = Model.TeamMembers;}
            @foreach(var player in modelList)
            {
                <tr>
                    <td></td>
                    <td>@player.Player.FirstName</td>
                    </tr>
            }
        </tr>
    </tbody>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<p><a class="btn btn-default" href="@Url.Action("AddTeamMembers","TeamMembers", new { id = Model.id })">Add Members to Team &raquo;</a></p>

