@model SportsSimulatorWebApp.Models.TeamPlayerViewModel

<p>
    @using (Html.BeginForm("AddTeamMembers", "TeamMembers", new { id = Model.Team.id },
FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <dt>
            @Html.DisplayNameFor(model => Model.Team.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(i => i.PlayerList, new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.ListBoxFor(i => Model.PlayerId, Model.PlayerList,
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(i => i.PlayerList,
                    "", new { @class = "text-warning" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    }
</p>


<p>
    <a class="btn btn-default" href="@Url.Action("AddSelectedPlayersToTeam","TeamMembers", new { id = Model.Team.id })">Add Players to Team &raquo;</a>
    <a class="btn btn-default" href="@Url.Action("Details","Teams", new { id = Model.Team.id })">Return to Team &raquo;</a>
</p>

