@model SportsSimulatorWebApp.Models.TeamPlayerViewModel

@{
    ViewBag.Title = "Add Members to Team";
}

<h2>Add Members to Team</h2>

<div>
    <h4>TeamMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.Players)
        </dd>

        <dd>
            @foreach (var item in Model.Players)
            {
                @Html.DisplayFor(model => item.FirstName)
            }

        </dd>
    </dl>
</div>

<p>
    <a class="btn btn-default" href="@Url.Action("AddSelectedPlayersToTeam","TeamMembers", new { id = Model.Team.id })">Add Players to Team &raquo;</a>
    <a class="btn btn-default" href="@Url.Action("Details","Teams", new { id = Model.Team.id })">Return to Team &raquo;</a>
</p>

