@model SportsSimulatorWebApp.Models.LeagueTeamViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th></th>
        <th
            >@Html.DisplayNameFor(model => model.league.LeagueName)
        </th>
        <th>
            @Html.DisplayName("Team List")
        </th>
        <th></th>
    </tr>

    <tr>
        <td></td>
        <td>
            @Html.DisplayFor(model => model.league.LeagueName)
        </td>
        <td>
            @{var teamList = Model.enteredTeams; }
            <div =class="row">
                @foreach(var team in teamList)
                {
                    <div class="col-md-1">@team.TeamName</div>
                }
            </div>
        </td>
    </tr>

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.league.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<p>
    <a class="btn btn-default" href="@Url.Action("CreateLeagueEntries","LeagueEntries", new { id = Model.league.id })">Add Teams to League &raquo;</a>
    
    <a class="btn btn-default" href="@Url.Action("CreateMatchups","Leagues", new { id = Model.league.id })">Create Matchups &raquo;</a>
</p>
