@model SportsSimulatorWebApp.Models.LeagueTeamViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("League")
        </th>
        <th>
            @Html.DisplayName("Team List")
        </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.league.LeagueName)
            </td>
                @{var teamList = Model.enteredTeams; }
                 @foreach(var team in teamList)
                 {
                     <tr>
                         <td></td>
                         <td>@team.TeamName</td>
                     </tr>
                 }
        </tr>
    </tbody>

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.league.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<p>
    <a class="btn btn-default btn-primary btn-lg" href="@Url.Action("CreateLeagueEntries","LeagueEntries", new { id = Model.league.id })">Add Teams to League &raquo;</a>

    <a class="btn btn-default btn-primary btn-lg" href="@Url.Action("CreateMatchups","Leagues", new { id = Model.league.id })">Create Matchups &raquo;</a>

    <a class="btn btn-default btn-primary btn-lg" href="@Url.Action("SimulateRound","Leagues", new { id = Model.league.id })">Simulate Round &raquo;</a>

    <a class="btn btn-default btn-primary btn-lg" href="@Url.Action("LeagueCurrentRoundMatchups","Matchups", new { id = Model.league.id })">View Current Matchups &raquo;</a>
</p>
